<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title>Userdata</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="alert alert-success">
                <strong>Login was sucessfull!</strong>
            </div>
            <h2><p class="bg-info">Welcome {$USERNAME}!</p></h2>
            <p>Your Grade: {$GRADE}</p>
        </div>
        <div class="container">
            <form action="logout.php" method="post" class="form-signing">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Logout<br></button>
                </div>
            </form>
        </div>
    </body>
</html>
